{% extends 'shared/layout.html' %}

{% block title %}
與我們合作的國際夥伴
{% endblock %}

{% block body %}



<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">希望之光</span>
                    <h1 class="text-capitalize mb-5 text-lg">國際互助</h1>

                    <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">All Department</a></li>
          </ul> -->
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section service-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="section-title">
                    <h2>溫暖，不分國界</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>世界的進步，應是全體人類的進步，而不是少數人的進步</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 ">
                <div class="department-block mb-5">
                    <img src="/static/images/GM/FS.jpg" alt="" class="img-fluid w-100">
                    <div class="content">
                        <h4 class="mt-4 mb-2 title-color">Heart for Africa (非洲之心)</h4>
                        <p class="mb-4">
                            非洲之心是史瓦濟蘭國內的慈善組織，用來提供孤兒之家的經濟援助。他的創辦人Janine
                            Maxwell女士曾在1980年代經營加拿大的一個大貿易公司。非洲之心現在的合作夥伴在非洲擁有一個面臨關閉的兒童之家，他們也提供兒童的醫療、教育材料、蓋基礎設施、提供食品、衣服和住所等等，為貧困兒童和農村家庭種植作物和許多其他活動。
                        </p>
                        <a href="department-single.html" class="read-more">Learn More <i
                                class="icofont-simple-right ml-2"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="department-block mb-5">
                    <img src="/static/images/GM/FH.jpg" alt="" class="img-fluid w-100">
                    <div class="content">
                        <h4 class="mt-4 mb-2  title-color">海地共和國駐台大使館</h4>
                        <p class="mb-4">海地被列為全球最貧窮的國家之一，有59％人口生活在貧困線下(每天生活費低於1.5美元)，貧窮影響海地人日常生活的許多方面，包括教育、住房、醫療保健、環境等等。
                        </p>
                        <a href="department-single.html" class="read-more">Learn More <i
                                class="icofont-simple-right ml-2"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="department-block mb-5">
                    <img src="/static/images/GM/FB.jpg" alt="" class=" img-fluid w-100">
                    <div class="content">
                        <h4 class="mt-4 mb-2 title-color">貝里斯駐台大使館</h4>
                        <p class="mb-4">
                            加勒比海經濟委員會的報告指出，貝里斯已經名列加勒比海地區最貧窮的國家，貧窮線以下的人口比例為33.5%(每天生活費低於1.5美元)，也因為貧窮所以成為中美洲犯罪率最高的國家。
                        </p>
                        <a href="department-single.html" class="read-more">Learn More <i
                                class="icofont-simple-right ml-2"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



{% endblock %}