{% extends 'shared/layout.html' %}

{% block title %}
與我們合作的偏鄉學校
{% endblock %}

{% block body %}
{#<center><h1 >捐贈流程簡述</h1>
<p>1. 每位使用者皆可以將自己欲捐贈的電子產品，在「科技設備捐贈」頁面中將這些設備上傳至系統，有需要的學校及組織可以在「我需要物資」介面看到。</p>
<p>2. 對於資訊產品有需求的學校及組織可以在「我需要物資」介面中看到使用者所捐贈的物資列表。對於有興趣的物資，學校或組織可以點擊查看詳細資訊。若覺得符合自身需求，可以在該物件的下方撰寫使用規劃及其他捐贈相關事項（例如寄送地址等等），系統會自動寄一封申請信給捐贈者。</p>
<p>3. 捐贈者收到信以後，可以選擇直接透過電子郵件跟申請機構聯絡。若捐贈者不想透露自己的電子郵件，可以透過「匿名回信給申請機構」由官方帳號代為寄送。</p>
<p>4. 若捐贈者與申請單位在信件中達到共識，同意捐出物資給該單位，寄出物件後即可以進入該物件的網頁點選刪除，該物件就會從物資列表中消失。</p></center>#}
<div class="container">
    <div class="row justify-content-center">
<div class="card" style="width: 54rem;">
    <div class="card-body">
      <h1 class="card-title">捐贈流程步驟簡述</h1>
      <p class="card-text">
        {# 1. 每位使用者皆可以將自己欲捐贈的電子產品，在「科技設備捐贈」頁面中將這些設備上傳至系統，有需要的學校及組織可以在「我需要物資」介面看到。<br>
        2. 對於資訊產品有需求的學校及組織可以在「我需要物資」介面中看到使用者所捐贈的物資列表。對於有興趣的物資，學校或組織可以點擊查看詳細資訊。若覺得符合自身需求，可以在該物件的下方撰寫使用規劃及其他捐贈相關事項（例如寄送地址等等），系統會自動寄一封申請信給捐贈者。<br>
        3. 捐贈者收到信以後，可以選擇直接透過電子郵件跟申請機構聯絡。若捐贈者不想透露自己的電子郵件，可以透過「匿名回信給申請機構」由官方帳號代為寄送。<br>
        4. 若捐贈者與申請單位在信件中達到共識，同意捐出物資給該單位，寄出物件後即可以進入該物件的網頁點選刪除，該物件就會從物資列表中消失。 #}
        <table class="table">
            <thead>
              <tr>
                <th scope="col-2"></th>
                <th scope="col">內容</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>每位使用者皆可以將自己欲捐贈的電子產品，在「科技設備捐贈」頁面中將這些設備上傳至系統，有需要的學校及組織可以在「我需要物資」介面看到。</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>對於資訊產品有需求的學校及組織可以在「我需要物資」介面中看到使用者所捐贈的物資列表。對於有興趣的物資，學校或組織可以點擊查看詳細資訊。若覺得符合自身需求，可以在該物件的下方撰寫使用規劃及其他捐贈相關事項（例如寄送地址等等），系統會自動寄一封申請信給捐贈者。</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>捐贈者收到信以後，可以選擇直接透過電子郵件跟申請機構聯絡。若捐贈者不想透露自己的電子郵件，可以透過「匿名回信給申請機構」由官方帳號代為寄送。</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>若捐贈者與申請單位在信件中達到共識，同意捐出物資給該單位，寄出物件後即可以進入該物件的網頁點選刪除，該物件就會從物資列表中消失。</td>
              </tr>
            </tbody>
          </table>
      </p>

    </div>
  </div>
</div>
</div>
<br>
{% endblock %}