{% extends 'shared/layout.html' %}

{% block title %}
與我們合作的偏鄉學校
{% endblock %}

{% block body %}



<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">希望之光</span>
                    <h1 class="text-capitalize mb-5 text-lg">台灣偏鄉小學</h1>

                    <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">All Department</a></li>
          </ul> -->
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section service-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="section-title">
                    <h2>生命，無可限量</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>孩子的未來，即是我們的未來</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 ">
                <div class="department-block mb-5">
                    <img src="/static/images/service/QF.jpg" alt="" class="img-fluid w-100">
                    <div class="content">
                        <h4 class="mt-4 mb-2 title-color">臺南市南化區瑞峰國小</h4>
                        <p class="mb-4">
                            靠近山區，學生人數為10人，一個年級大部分只有1個學生，每個年級都會有一位專任教師，另外有設有幼稚園，人數同樣不多，為11人。瑞峰國小的教職員工加上校工、護士與舍監後人數為19人，與一般學校的行政人員數相差甚遠。
                        </p>
                        <a href="department-single.html" class="read-more">Learn More <i
                                class="icofont-simple-right ml-2"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="department-block mb-5">
                    <img src="/static/images/service/HJ.jpg" alt="" class="img-fluid w-100">
                    <div class="content">
                        <h4 class="mt-4 mb-2  title-color">南投縣仁愛鄉合作國小</h4>
                        <p class="mb-4">位居中央山脈之上，是靜觀部落最北端，地勢高峻陡峭，交通不易，居民以臺灣原住民布農族為主，也被譽為最深遠的國小，同時，其他多所原住民中小學位於此。</p>
                        <a href="department-single.html" class="read-more">Learn More <i
                                class="icofont-simple-right ml-2"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="department-block mb-5">
                    <img src="/static/images/service/PH.jpg" alt="" class=" img-fluid w-100">
                    <div class="content">
                        <h4 class="mt-4 mb-2 title-color">澎湖縣望安鄉花嶼國小</h4>
                        <p class="mb-4">
                            位在台灣省最西端，於澎湖本島西南方18海哩處─花嶼島，屬三級離島地區，是目前澎湖群島中僅存的三級離島學校。學童就特質上，有文化不利地區學童的學習上的特徵，如表達力不足、學習動機弱、學習環境不佳等。
                        </p>
                        <a href="department-single.html" class="read-more">Learn More <i
                                class="icofont-simple-right ml-2"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 ">
                <div class="department-block  mb-5 mb-lg-0">
                    <img src="/static/images/service/MC.png" alt="" class="img-fluid w-100">
                    <div class="content">
                        <h4 class="mt-4 mb-2 title-color">高雄市那瑪夏區民權國小</h4>
                        <p class="mb-4">
                            位於高雄市北界那瑪夏區之地理位置，臨阿里山風景區。居民大多數是布農族、卡拉卡拉富族、拉阿魯哇族，也有少數的排灣族及其他族群。在莫拉克風災侵襲後，校舍遭土石流覆蓋，而在台達電的協助下，民權國小得以重建。
                        </p>
                        <a href="department-single.html" class="read-more">Learn More <i
                                class="icofont-simple-right ml-2"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="department-block mb-5 mb-lg-0">
                    <img src="/static/images/service/DP.jpg" alt="" class="img-fluid w-100">
                    <div class="content">
                        <h4 class="mt-4 mb-2 title-color">嘉義縣阿里山鄉達邦國小</h4>
                        <p class="mb-4">台灣第一所原住民小學,已有100年歷史，民國前7年，日本政府，在阿里山設立蕃童教育所，也就是現今達邦國小的前身，也是全國第一座原住民小學。</p>
                        <a href="department-single.html" class="read-more">Learn More <i
                                class="icofont-simple-right ml-2"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="department-block mb-5 mb-lg-0">
                    <img src="/static/images/service/PI.jpg" alt="" class="img-fluid w-100">
                    <div class="content">
                        <h4 class="mt-4 mb-2 title-color">臺中市和平區博愛國小</h4>
                        <p class="mb-4">
                            位於谷關風景區周邊，處偏遠地區，是典型鄉下的農村小學，原住民學生與漢族學生各半。近年來由於天災不斷，地理環境的改變，及家長社經地位較低，存在不少單親、隔代教養、低收入戶等的弱勢家庭。
                        </p>
                        <a href="department-single.html" class="read-more">Learn More <i
                                class="icofont-simple-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="department-block  mb-5 mb-lg-0">
                    <img src="/static/images/service/TP.png" alt="" class="img-fluid w-100">
                    <div class="content">
                        <h4 class="mt-4 mb-2 title-color">花蓮縣卓溪鄉太平國小</h4>
                        <p class="mb-4">
                            位在花蓮南陲，村民皆為原住民布農族人。是一所七班小型學校（含幼兒園一班），學童大多屬原住民布農族。
                        </p>
                        <a href="department-single.html" class="read-more">Learn More <i
                                class="icofont-simple-right ml-2"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="department-block mb-5 mb-lg-0">
                    <img src="/static/images/service/MO.jpg" alt="" class="img-fluid w-100">
                    <div class="content">
                        <h4 class="mt-4 mb-2 title-color">苗栗縣泰安鄉梅園國小</h4>
                        <p class="mb-4">本校位於苗栗縣東南方，屬於山地管制，大多都是泰雅族人，因為傳統農業式微，現在大多出外謀生，無法每日返家照顧子女，因此本校單親、依親、隔代教養之學童比例較高。
                        </p>
                        <a href="department-single.html" class="read-more">Learn More <i
                                class="icofont-simple-right ml-2"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="department-block mb-5 mb-lg-0">
                    <img src="/static/images/service/CN.png" alt="" class="img-fluid w-100">
                    <div class="content">
                        <h4 class="mt-4 mb-2 title-color">台東縣海瑞鄉加拿國小</h4>
                        <p class="mb-4">
                            學區隸屬海端鄉加拿村，目前國小部6班，幼兒園1班，居民多為布農族，單親暨隔代教養學生比率達35％，文化不利頗為顯著。
                        </p>
                        <a href="department-single.html" class="read-more">Learn More <i
                                class="icofont-simple-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}