{% extends 'shared/layout.html' %}

{% block title %}
寄送EMAIL
{% endblock %}

{% block body %}
<style>
  textarea.form-control {
    height: 300px;
  }
</style>
{# 若您不希望讓需求組織知道您的電子郵件，請用以下的網頁寄出電子郵件給需求組織，我們會透過官方帳號幫您寄出，對方僅會看到您的使用者 ID。<br>
此功能只提供個人使用者使用。
{% if current_user.role == 'I'%}
<form method="POST">
  寄件人：<input type="text" name='sender' value={{ current_user.user_id }} readonly='readonly'><br>
  收件人：<input type='text' name='reciever'><br>
  案件號碼：<input type='text' name='case_num'><br>
  信件內容：<textarea name='content'></textarea><br>
  請勿濫用此功能，一旦寄出即代表寄件人必須對此信件負責。<br>
  <button type='submit'>寄出信件</button>
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flash">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endif %}
#}
<div class="container">
  <div class="row g-3 justify-content-center">
    <div class="col-md-12 ">
      <div class="alert alert-primary" role="alert">
        此頁面提供捐贈者匿名回覆提出需求的組織。<br>
        若捐贈者不希望讓需求組織知道您的電子郵件，請用以下的網頁寄出電子郵件給需求組織，我們會透過官方帳號幫您寄出，對方僅會看到您的使用者 ID。<br>
        功能只提供個人捐贈者及機構捐贈時使用。
      </div>
    </div>
  </div>
</div>

<div class="container">
  <form class="" method="POST">
  <div class="row g-3 justify-content-center">
    <div class="col-md-4 ">
      <label for="inputEmail4" class="form-label">寄件人</label>
      <input type="text" name="sender" value={{ current_user.user_id }} readonly="readonly" class="form-control">
    </div>
    <div class="col-md-4 ">
      <label for="inputPassword4" class="form-label">收件人(申請組織)電子郵件地址</label>
      <input type="email" name="reciever" class="form-control" required="required">
    </div>
    <div class="col-md-4 ">
      <label for="inputEmail4" class="form-label">案件號碼 (您的物資編號)</label>
      <input type="text" name="case_num" class="form-control" required="required" oninput="value=value.replace(/[^\d]/g,'')">
    </div>
  </div>
  <div class="row g-3 justify-content-center">
    <div class="col-md-12 m-3 ">
      <label for="inputPassword4" class="form-label">信件內容</label>
      <textarea name='content' class="form-control text_area" required="required"></textarea>
    </div>
  </div>
</div>
<div class="alert alert-warning d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
    <use xlink:href="#exclamation-triangle-fill" />
  </svg>
  <div>
    請勿濫用此功能，一旦寄出即代表寄件人必須對此信件負責。成功寄出後會導回首頁。<br><strong style="color:red;">若您確認物品已經捐贈並寄出後，請進入該物品頁面點選刪除以免被重複申請，一但刪除物品後即表示結案。</strong>
  </div>
</div>
<div class="col-12">
  <button type="submit" class="btn btn-primary m-3">寄出信件</button>
</div>
</form>


{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flash">
  <div class="alert alert-primary d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
      class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg>
    <div>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
</ul>
{% endif %}
{% endwith %}

</div>
</div>
</div>
{% endblock %}