{% extends 'shared/layout.html' %}

{% block title %}
團隊介紹
{% endblock %}

{% block body %}


<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">夥伴們！</span>
                    <h1 class="text-capitalize mb-5 text-lg">團隊介紹</h1>

                    <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">Doctor Details</a></li>
          </ul> -->
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section doctor-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="doctor-img-block">
                    <img src="/static/images/GM/jay1.jpeg" alt="" class="img-fluid w-100">

                    <div class="info-block mt-4">
                        <h4 class="mb-0">林杰</h4>
                        <p>後端設計</p>

                        <ul class="list-inline mt-4 doctor-social-links">
                            <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100015870154781"><i class="icofont-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-skype"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-6">
                <div class="doctor-details mt-4 mt-lg-0">
                    <h2 class="text-md">JAY LIN</h2>
                    <div class="divider my-4"></div>
                    <p>
                        我會的東東：python 、 c 、 HTML 、 CSS 、Javascript 、 一點點 freebsd <br>
                        興趣：排球、游泳、打 code 、彈琴 <br>
                        有時候很懶，所以報告都趕死線 <br>
                        IG : jaylin0418 <br>
                        TG : 0970911419
                    </p>
                    {# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo recusandae veritatis minus
                        optio
                        quod obcaecati laborum temporibus, deleniti vero perferendis molestias, ducimus facilis, sunt
                        minima. Tempora, amet quasi asperiores voluptas?</p> #}

                    <a href="https://www.facebook.com/profile.php?id=100015870154781" class="btn btn-main-2 btn-round-full mt-3">Contact me<i
                            class="icofont-simple-right ml-2  "></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section doctor-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="doctor-img-block">
                    <img src="/static/images/GM/Amber.jpeg" alt="" class="img-fluid w-100">

                    <div class="info-block mt-4">
                        <h4 class="mb-0">陳妍沂</h4>
                        <p>前端設計</p>

                        <ul class="list-inline mt-4 doctor-social-links">
                            <li class="list-inline-item"><a href="https://www.facebook.com/yenyichen.sssh"><i class="icofont-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-skype"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-6">
                <div class="doctor-details mt-4 mt-lg-0">
                    <h2 class="text-md">YEN-YI CHEN</h2>
                    <div class="divider my-4"></div>
                    <p>
                        大家好~<br>
                        我是一名高二準備升高三的悲慘學測生(?<br>
                        主要的興趣是下圍棋和寫程式<br>
                        同時也喜歡打羽球和競速滑輪<br>
                        目前正在學習如何增加自己的美術涵養(?<br>
                        而在這次的黑客松主要負責前端和美術設計
                    </p>
                    {# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo recusandae veritatis minus
                        optio
                        quod obcaecati laborum temporibus, deleniti vero perferendis molestias, ducimus facilis, sunt
                        minima. Tempora, amet quasi asperiores voluptas?</p> #}

                    <a href="https://www.facebook.com/yenyichen.sssh" class="btn btn-main-2 btn-round-full mt-3">Contact me<i
                            class="icofont-simple-right ml-2  "></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section doctor-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="doctor-img-block">
                    <img src="/static/images/GM/ria.png" alt="" class="img-fluid w-100">

                    <div class="info-block mt-4">
                        <h4 class="mb-0">范姜芷妤</h4>
                        <p>文案設計</p>

                        <ul class="list-inline mt-4 doctor-social-links">
                            <li class="list-inline-item"><a href="https://www.facebook.com/tzuyufanchiang/"><i class="icofont-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-skype"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-6">
                <div class="doctor-details mt-4 mt-lg-0">
                    <h2 class="text-md">Tzu-Yu Fan Chiang</h2>
                    <div class="divider my-4"></div>
                    <p>二類組的理工生 <br>
                        對資訊有興趣但能力還有待加強 <br>
                        HalloWord 寫了 11 次才 AC  <br>
                        有一點社交障礙 <br>
                        找不到我的時候就是在睡覺
                    </p>
                    {# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo recusandae veritatis minus
                        optio
                        quod obcaecati laborum temporibus, deleniti vero perferendis molestias, ducimus facilis, sunt
                        minima. Tempora, amet quasi asperiores voluptas?</p> #}

                    <a href="https://www.facebook.com/tzuyufanchiang/" class="btn btn-main-2 btn-round-full mt-3">Contact me<i
                            class="icofont-simple-right ml-2  "></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section doctor-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="doctor-img-block">
                    <img src="/static/images/GM/bob.png" alt="" class="img-fluid w-100">

                    <div class="info-block mt-4">
                        <h4 class="mb-0">蕭惟澤</h4>
                        <p>文案設計</p>

                        <ul class="list-inline mt-4 doctor-social-links">
                            <li class="list-inline-item"><a href="https://www.facebook.com/BobHsiao0826"><i class="icofont-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-skype"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-6">
                <div class="doctor-details mt-4 mt-lg-0">
                    <h2 class="text-md">WEI-ZE XIAO</h2>
                    <div class="divider my-4"></div>
                    <p>讀工科的文科生<br>
                        不熟還蠻安靜，熟了就會發現是幹話系畢業 <br> 
                        講的笑話冷到你需要穿外套 <br>
                        為了處理社團的事情翹了4節重補修，處理茶會又翹了7節，準備要再翹4節
                    </p>
                    {# <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo recusandae veritatis minus
                        optio
                        quod obcaecati laborum temporibus, deleniti vero perferendis molestias, ducimus facilis, sunt
                        minima. Tempora, amet quasi asperiores voluptas?</p> #}

                    <a href="https://www.facebook.com/BobHsiao0826" class="btn btn-main-2 btn-round-full mt-3">Contact me<i
                            class="icofont-simple-right ml-2  "></i></a>
                </div>
            </div>
        </div>
    </div>
</section>






{% endblock %}